
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;

}

body {
    margin: 0;
    padding: 0;
    font-family: Calibri;
    background: linear-gradient(150deg, #6C3483,#58D68D);
    height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.buscar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


    .buscar input {
        width: 200px;
        height: 40px;
        padding: 22px;
        font-size: 18px;
        color: #000;
        outline: none;
        border: 1px solid silver;
        border-radius: 30px;
    }

.buscare {
    position: absolute;
    padding: 5px;
    transform: translate(0%,250%);
}


    .buscare input {
        width: 240px;
        height: 40px;
        padding: 0 20px;
        font-size: 18px;
        color: #000;
        outline: none;
        border: 1px solid silver;
        border-radius: 30px;
    }

.buscari {
    position: absolute;
    padding: 5px;
    transform: translate(0%,350%);
}


    .buscari input {
        width: 160px;
        height: 40px;
        padding: 0 20px;
        font-size: 18px;
        color: #000;
        outline: none;
        border: 1px solid silver;
        border-radius: 30px;
    }

.carrito {
    transform: translate(0%,20%);
}


.logos {
    transform: translate(0%,20%);
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: right;
    padding: 5px;
}

.pro1 {
    display: flex;
    align-items: center;
    transform: translate(0%,0%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.pro2 {
    display: flex;
    align-items: center;
    transform: translate(0%,0%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}



.logox {
    transform: translate(0%,0%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.mundo {
    transform: translate(0%,20%);
    padding: 5px;
}

.logo {
    transform: translate(0%,20%);
    padding: 5px;
    justify-content: center;
    margin-left -130;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}

.title {
    font-size: 24px;
    margin-left: 10px;
    padding: 5px;
    transform: translate(0%,20%);
}

.titles {
    transform: translate(0%,0%);
    padding: 5px;
}

.titlex {
    font-size: 20px;
    transform: translate(0%,20%);
    padding: 5px;
    margin-left: 130px;
    color: black;
}

.btne {
    align-items: center;
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #9c27b0;
    color: #fff;
    text-decoration: none;
    background: #9c27b0;
    transform: translate(0%,400%);
}

    .btne:hover {
        background: none;
    }

.btne-home {
    display: flex;
    align-items: center;
    transform: translate(0%,0%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

    .btne-home a {
        margin: 0 10px;
    }


.btn {
    align-items: center;
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    margin-left: 10px;
    border: 2px solid #9c27b0;
    color: #fff;
    text-decoration: none;
    background: #9c27b0;
    transform: translate(0%,0%);
}

    .btn:hover {
        background: none;
    }

.btn-home {
    display: flex;
    align-items: center;
    transform: translate(0%,0%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

    .btn-home a {
        margin: 0 10px;
    }

.imagen {
    width: 30%;
    margin-right: 10 px;
    padding: 20px;
}

@media (max-width: 767px) {
    .container {
        flex-direction: column;
    }

    .box {
        width: 100%;
    }
}

.formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    background-color: white;
    border-radius: 10px;
}

    .formulario h1 {
        text-align: center;
        padding: 0 0 20px 0;
        border-bottom: 1px solid silver;
    }